components/xCropProtection/xCropProtection.xsd

<?xml version="1.1" encoding="UTF-8" ?>
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:xCropProtectionLandscapeScenarioParametrization"
    xmlns="urn:xCropProtectionLandscapeScenarioParametrization"
    elementFormDefault="qualified"
>
    <!--
        Type for temporal validity. Examples:
        - always
        - 01-01-1990 to 31-12-1999
        - 01-01 to 31-12|01-02 to 01-10|01-01 to 31-12
        - 01-01 to 31-12||01-01 to 31-12
    -->
    <xsd:simpleType name="temporal-validity">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\s*(always|\d{2}-\d{2}-\d{4} to \d{2}-\d{2}-\d{4}|(\d{2}-\d{2} to \d{2}-\d{2}){0,1}(\|(\d{2}-\d{2} to \d{2}-\d{2}){0,1})*)\s*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--
        Type for list of integers. Examples:
        - 1
        - 1 2 3
        - 1 2 3|1 3|1 2 3
        - 1 2 3||1 2 3
    -->
    <xsd:simpleType name="int-list">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\s*(\d+( \d+)*){0,1}(\s(\d+( \d+)*){0,1})*\s*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--
        Type for month-day-windows.
    -->
    <xsd:simpleType name="month-day-span">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\s*\d{2}-\d{2} to \d{2}-\d{2}\s*"/>
        </xsd:restriction>        
    </xsd:simpleType>

    <!--
        Type for time-windows.
    -->
    <xsd:simpleType name="time-span">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\s*(always|\d{2}:\d{2} to \d{2}:\d{2})\s*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- 
        Type for cultivation types.
    -->
    <xsd:simpleType name="cult-type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\s*F|G|F/G\s*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- 
        Type for pest types.
    -->
    <xsd:simpleType name="pest-type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\s*leaf miners\s*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- 
        Type for formulation types.
    -->
    <xsd:simpleType name="form-type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\s*EC\s*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- 
        Type for application methods.
    -->
    <xsd:simpleType name="appl-method">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\s*(spray|drip irrigation)\s*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- 
        Type for application timing.
    -->
    <xsd:simpleType name="appl-timing">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\s*(infestation|bbch \d{2}-\d{2})\s*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--
        Type for real random variable parameters. "type" is set to float and "scales" is set to global (for now).
    -->
    <xsd:complexType name="param-float" mixed="true">
        <xsd:simpleContent>
            <xsd:extension base="xsd:float">
                <xsd:attribute name="type" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="float"></xsd:pattern>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="scales" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="global"></xsd:pattern>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <!--
        Type for natural random variable parameters. "type" is set to int and "scales" is set to global (for now).
    -->
    <xsd:complexType name="param-int">
        <xsd:simpleContent>
            <xsd:extension base="xsd:integer">
                <xsd:attribute name="type" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="float"></xsd:pattern>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="scales" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="global"></xsd:pattern>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


    <!--
        Type for numerical variables and distributions.
    -->
    <xsd:complexType name="num-var" mixed="true">
        <xsd:sequence>
            <xsd:any minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="type" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="int|float|xCropProtection\.NormalDistribution|xCropProtection\.UniformDistribution|xCropProtection\.DiscreteUniformDistribution"></xsd:pattern>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="scales" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="global|time/day|time/year|time/day, space/base_geometry|time/year, space/base_geometry"></xsd:pattern>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>

    <!--Schemas for distribution parameters-->
    <xsd:element name="Mean" type="param-float"/>
    <xsd:element name="SD" type="param-float"/>
    <xsd:element name="Lower" type="param-float"/>
    <xsd:element name="Upper" type="param-float"/>

    <!--Schema for applications-->
    <xsd:complexType name="application">
        <xsd:all>
            <xsd:element name="Tank">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="Products">
                            <xsd:complexType mixed="true">
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="type">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:pattern value="list\[str\]"></xsd:pattern>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:attribute>
                                        <xsd:attribute name="scales" use="required">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="other/products"/>
                                                    <xsd:enumeration value="other/active_substances"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:attribute>       
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="ApplicationRates">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="ApplicationRate">
                                        <xsd:complexType mixed="true">
                                            <xsd:complexContent>
                                                <xsd:extension base="num-var">
                                                    <xsd:attribute name="unit" type="xsd:string" fixed="g/ha" use="required"/>
                                                </xsd:extension>
                                            </xsd:complexContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                                <xsd:attribute name="type" type="xsd:string" fixed="list\[float\]"/>
                                <xsd:attribute name="scales" use="required">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:enumeration value="other/products"/>
                                            <xsd:enumeration value="other/active_substances"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:attribute>    
                            </xsd:complexType>                                                                                                                                                                                                                                                                            
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>                            
            <xsd:element name="ApplicationWindow">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="month-day-span">
                            <xsd:attribute name="type" type="xsd:string" fixed="xCropProtection.MonthDaySpan" use="required"/>
                            <xsd:attribute name="scales" type="xsd:string" fixed="global" use="required"/>
                        </xsd:extension>
                    </xsd:simpleContent>                                                                                                                                                        
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Technology">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="scales" type="xsd:string" fixed="global" use="required"/>
                        </xsd:extension>
                    </xsd:simpleContent>                                                                                                                                                        
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="InCropBuffer">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="num-var">
                            <xsd:attribute name="unit" type="xsd:string" fixed="m" use="required"/>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="InFieldMargin">
                <xsd:complexType mixed="true">
                    <xsd:complexContent>
                        <xsd:extension base="num-var">
                            <xsd:attribute name="unit" type="xsd:string" fixed="m" use="required"/>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>                                                                            

    <!--Actual schema-->
    <xsd:element name="xCropProtection">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PPMCalendars" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="PPMCalendar">
                                <xsd:complexType>
                                    <xsd:all>
                                        <xsd:element name="TemporalValidity">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:extension base="temporal-validity">
                                                        <xsd:attribute name="scales" use="required">
                                                            <xsd:simpleType>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:pattern value="time/simulation|time/year|time/day"></xsd:pattern>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:attribute>
                                                        <xsd:attribute name="type">
                                                            <xsd:simpleType>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:pattern value="list\[xCropProtection.MonthDaySpan\]|list\[xCropProtection.DateSpan\]"></xsd:pattern>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:attribute>
                                                    </xsd:extension>    
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="TargetCrops" minOccurs="0">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:extension base="int-list">
                                                        <xsd:attribute name="scales" use="required">
                                                            <xsd:simpleType>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:pattern value="global|time/year|time/day"></xsd:pattern>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:attribute>
                                                        <xsd:attribute name="type" use="required">
                                                            <xsd:simpleType>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:pattern value="int|list\[int\]"></xsd:pattern>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:attribute>
                                                    </xsd:extension>    
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>   
                                        <xsd:element name="TargetFields" minOccurs="0">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:extension base="int-list">
                                                        <xsd:attribute name="scales" use="required">
                                                            <xsd:simpleType>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:pattern value="global|time/year|time/day"></xsd:pattern>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:attribute>
                                                        <xsd:attribute name="type" use="required">
                                                            <xsd:simpleType>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:pattern value="int|list\[int\]"></xsd:pattern>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:attribute>
                                                    </xsd:extension>    
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>   
                                        <xsd:element name="Indications">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="Indication" maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                            <xsd:choice>
                                                                <xsd:choice>
                                                                    <xsd:element name="Application" type="application" maxOccurs="1"/>
                                                                    <xsd:element name="Application" type="xsd:int" maxOccurs="1"/>
                                                                    <xsd:element name="ApplicationSequence" maxOccurs="unbounded">
                                                                        <xsd:complexType>
                                                                            <xsd:sequence>
                                                                                <xsd:element name="Application" type="application" maxOccurs="unbounded"/>
                                                                            </xsd:sequence>
                                                                            <xsd:attribute name="probability" type="xsd:float"></xsd:attribute>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                </xsd:choice>
                                                            </xsd:choice>                                                                            
                                                            <xsd:attribute name="type">
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xsd:string">
                                                                        <xsd:pattern value="xCropProtection\.ChoiceDistribution"></xsd:pattern>
                                                                    </xsd:restriction>
                                                                </xsd:simpleType>
                                                            </xsd:attribute>
                                                            <xsd:attribute name="scales">
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xsd:string">
                                                                        <xsd:pattern value="global|time/day|time/year|time/day, space/base_geometry|time/year, space/base_geometry"></xsd:pattern>
                                                                    </xsd:restriction>
                                                                </xsd:simpleType>
                                                            </xsd:attribute>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:all>
                                </xsd:complexType>                        
                            </xsd:element>
                        </xsd:sequence>                                
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Technologies" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Technology">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="TechnologyName">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:extension base="xsd:string">
                                                        <xsd:attribute name="scales" type="xsd:string" fixed="global" use="required"/>
                                                    </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="DriftReduction">
                                            <xsd:complexType mixed="true">
                                                <xsd:complexContent>
                                                    <xsd:extension base="num-var">
                                                        <xsd:attribute name="unit" type="xsd:string" fixed="1" use="required"/>
                                                    </xsd:extension>
                                                </xsd:complexContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="PPPs" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="PPP">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="ProductName" type="xsd:string" maxOccurs="1"/>
                                        <xsd:element name="ActiveSubstance" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="ActiveSubstanceName" type="xsd:string" maxOccurs="1"/>
                                                    <xsd:element name="DT50" type="xsd:float" maxOccurs="1"/>
                                                    <xsd:element name="KocSoil" type="xsd:float" maxOccurs="1"/>
                                                    <xsd:element name="FreundlichExponent" type="xsd:float" maxOccurs="1"/>
                                                </xsd:sequence>                                                
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="ProductLabels" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="ProductLabel" maxOccurs="1">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="TargetCrops" type="xsd:string" maxOccurs="1"/>
                                                                <xsd:element name="ApplicationTime" type="time-span" maxOccurs="1"/>
                                                                <xsd:element name="MaxNoOfApplications" type="xsd:int" maxOccurs="1"/>
                                                                <xsd:element name="MinInCropBuffer" type="xsd:float" maxOccurs="1"/>
                                                                <xsd:element name="MinDaysBetweenApplications" type="xsd:int" maxOccurs="1"/>
                                                                <xsd:element name="MaxDaysBetweenApplications" type="xsd:int" maxOccurs="1"/>
                                                                <xsd:element name="MinApplicationRate" type="xsd:float" maxOccurs="1"/>
                                                                <xsd:element name="MaxApplicationRate" type="xsd:float" maxOccurs="1"/>
                                                                <xsd:element name="CultivationType" type="cult-type" maxOccurs="1"/>
                                                                <xsd:element name="Pest" type="pest-type" maxOccurs="1"/>
                                                                <xsd:element name="FormulationType" type="form-type" maxOccurs="1"/>
                                                                <xsd:element name="ApplicationMethod" type="appl-method" maxOccurs="1"/>
                                                                <xsd:element name="ApplyAt" type="appl-timing" maxOccurs="1"/>
                                                                <xsd:element name="PreHarvestInterval" type="xsd:int" maxOccurs="1"/>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>